.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3;
}
.card-link {
  text-decoration: none;
  text-align: center;
  line-height: 2;
  text-transform: uppercase;
}
.card-link:hover {
  color: #dcc379;
}
.card-link + .card-link {
  margin-left: 0;
}
.card-body {
  border-radius: 0px;
  background: #262626;
  box-shadow: inset 5px 5px 0px #0f0f0f, inset -5px -5px 0px #3d3d3d;
}
.letter-spacing {
  text-align: initial;
}
